.dot {
    height: 50px;
    width: 50px;
    background-color: #EFEFEF;
    border-radius: 50%;
    border: solid #000 1px ;
   
    align-items: center;
  }

.center{
  font-size : 25px;
  margin-top:5px;
  margin-left:16px;
}  

.title{
  font-size:28px;
}

.floater{
 float:right;
}

@media screen and(max-width: 767px) {
  .title{
    font-size:18px;
  }
}