.container
{
  max-width: 96%;
  margin: 0 auto;
}
.container div 
{
  display: block;
}
.section
{
  padding: 3% 2% 3%;
  justify-items: center;
}
.center-text
{
  text-align: center;
}
.title-section-principal,
.title-section-secondary
{
  font-weight: 600;
  margin-bottom: 15px;
}
.title-section-principal
{
  font-size: 35px;
}
.title-section-secondary
{
  font-size: 30px;
}
.sp-text 
{
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 22px;
}
.search-section
{
  margin: 20px 0 20px;
  position: relative;
}
.search-section input {
  width: 68%;
  border: 2px solid #2f0ee7;
  box-shadow: 0 4px 10px rgb(1 11 59 / 40%);
  box-sizing: border-box;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  height: 56px;
  padding: 17px 20px;
  font-size: 0.95em;
}
.btn-confirm 
{
  background: #6aa84f;
  box-shadow: 0 4px 10px rgb(13 43 21 / 40%);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  padding: 18px 40px;
  display: inline-block;
  border: none;
  color: #fdfdfd;
  font-size: 1.05em;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s;
  margin-left: 10px;
}
.container div .steps 
{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: nowrap;
  max-width: 100%;
}
.steps div:not(:last-child) 
{
  margin-right: 25px;
}
.steps div 
{
  display: table;
  width: 100%;
}
.steps div span 
{
  display: table-cell;
  vertical-align: middle;
}
.dot-number 
{
  font-weight: 600;
  font-size: 45px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  display: table;
  background: #d2e3fc;
  color: #4285f4;
  text-align: center;
  margin-right: 20px;
}
.dot-text
{
  text-align: left;
  padding: 6px;
}



/**************************** PARA DISPOSITIVIOS MÓVEIS ****************************/
@media only screen and (max-width: 640px) {
  .title-section-principal 
  {
    font-size: 27px;
  }
  .title-section-secondary
  {
    font-size: 24px;
  }
  .sp-text 
  {
    font-size: 15px;
  }
  .search-section input 
  {
    width: 100%;
  }
  .btn-confirm 
  {
    width: 100%;
    margin: 10px 0 0;
  }
  .steps  
  {
    margin: 20px 0 0;
  }
  .container div .steps 
  {
    display: block;
    width: 100%;
    margin: 0 0;
  }
  .steps div 
  {
    margin-top: 10px;
  }
}


/*********************** verificar responsividade *********************************/

.dot 
{
  height: 50px;
  width: 50px;
  background-color: #EFEFEF;
  border-radius: 50%;
  border: solid #000 1px ;
   
  align-items: center;
}

.center{
  font-size : 25px;
  margin-top:5px;
  margin-left:16px;
}  

.button{
  margin-top: 5%;
}